<div class="card signup-card">
  <header class="card-header">
    <h1>Sign Up</h1>
  </header>
  
  <section id="signup" role="tabpanel" class="card-body">
    <form id="signup-form">
      <div class="form-group">
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup" class="form-input" />
      </div>
      <div class="form-group">
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup" class="form-input" />
      </div>
      <button type="submit" id="signup-btn" class="btn signup-submit-btn">Signup!</button>
      <p class="login-link">Already have an account? <a href="/login">Login instead</a></p>
    </form>
  </section>
</div>

<script src="/js/signup.js"></script>